
html,
body {
  margin: 0;
  padding: 0;
}

#textWrapper {
  padding: 1rem;
}

#codeWrapper > div {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  background: #151515;
  color: white;
  font-family: monospace;
  line-height: 2;
  box-sizing: border-box;
}

footer {
  padding: 1rem;
}